## SEP 787 Machine Learning: Classification Models
## Prediction Sepsis from U.S. Hospital EHR Clinical Data
### Group 9

In [2]:
# import python packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

The original dataset is exceeds the GitHub file size limit of 100MB. Thus the code below first splits the csv file into two files.  
*  data_hospital1.csv contains the observations from Hospital 1. This will be the __training__ set
*  data_hospital2.csv contains the observations from Hospital 2. This will be the __testing__ set.

In [2]:
# import data and split into train set (Hospital 1) and test set (Hospital 2)

# df_combined = pd.read_csv(r"C:\Users\nancy\Documents\University\eHealth\SEP787_Classification\Project2\Dataset.csv")

# rows_to_drop = df_combined.loc[df_combined['Patient_ID'].apply(lambda x: len(str(x)) == 6)]
# df_train = df_combined.drop(rows_to_drop.index)
# df_train.to_csv('data_hospital1.csv', index=False)

# rows_to_drop = df_combined.loc[df_combined['Patient_ID'].apply(lambda x: len(str(x)) != 6)]
# df_test = df_combined.drop(rows_to_drop.index)
# df_test.to_csv('data_hospital2.csv', index=False)

In [3]:
# importing the test and training data
df_train = pd.read_csv(r"data_hospital1.csv")
df_test = pd.read_csv(r"data_hospital2.csv")

In [7]:
df_train.describe()

,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
count,790215.000000,790215.000000,729026.000000,695136.000000,266901.000000,670014.000000,709357.000000,409918.000000,712957.00000,0.0,...,6030.000000,51499.000000,790215.000000,790215.000000,404050.000000,404050.000000,790207.000000,790215.000000,790215.000000,790215.000000
mean,25.332445,25.332445,84.985264,97.265688,37.026737,120.962359,78.767345,59.985809,18.77346,NaN,...,292.251642,199.617841,63.016780,0.577721,0.507101,0.492899,-52.025757,27.198518,0.021685,10192.652564
std,27.954160,27.954160,16.940431,2.908794,0.780317,21.520567,15.044038,12.572771,5.39575,NaN,...,158.632042,109.244146,16.133632,0.493923,0.499950,0.499950,155.864937,28.190940,0.145654,5893.668065
min,0.000000,0.000000,20.000000,20.000000,20.900000,22.000000,20.000000,20.000000,1.00000,NaN,...,34.000000,5.000000,18.110000,0.000000,0.000000,0.000000,-3710.660000,1.000000,0.000000,1.000000
25%,9.000000,9.000000,73.000000,96.000000,36.560000,105.000000,68.000000,51.000000,15.00000,NaN,...,184.000000,127.000000,52.740000,0.000000,0.000000,0.000000,-38.090000,11.000000,0.000000,5074.000000
50%,20.000000,20.000000,84.000000,98.000000,37.060000,118.500000,77.000000,58.500000,18.00000,NaN,...,250.000000,181.000000,65.250000,1.000000,1.000000,0.000000,-2.600000,21.000000,0.000000,10174.000000
75%,33.000000,33.000000,96.000000,99.500000,37.550000,134.000000,87.330000,67.000000,22.00000,NaN,...,356.750000,247.000000,75.890000,1.000000,1.000000,1.000000,-0.020000,35.000000,0.000000,15284.000000
max,335.000000,335.000000,280.000000,100.000000,42.220000,281.000000,300.000000,298.000000,69.00000,NaN,...,1760.000000,1783.000000,89.000000,1.000000,1.000000,1.000000,23.990000,336.000000,1.000000,20643.000000

In [18]:
df_test.describe()

,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
count,761995.000000,761995.000000,669785.000000,654338.000000,258325.000000,655931.000000,649583.000000,655738.000000,600918.000000,57636.000000,...,4212.000000,40710.000000,761995.000000,761995.000000,536200.000000,536200.000000,761995.000000,761995.000000,761995.000000,761995.000000
mean,25.658981,25.658981,84.141905,97.117749,36.926076,126.598433,86.367137,66.234002,18.670780,32.957657,...,280.419516,191.454864,60.964853,0.540133,0.488637,0.511363,-60.376261,26.783929,0.014147,110025.317577
std,29.813926,29.813926,17.724160,2.964618,0.755826,24.533018,16.774449,14.237016,4.720294,7.951662,...,144.296293,95.879617,16.579604,0.498387,0.499871,0.499871,168.524627,29.825131,0.118097,5776.257876
min,0.000000,0.000000,20.000000,20.000000,30.000000,20.000000,30.000000,20.000000,1.000000,10.000000,...,35.000000,1.000000,14.000000,0.000000,0.000000,0.000000,-5366.860000,1.000000,0.000000,100001.000000
25%,9.000000,9.000000,71.500000,96.000000,36.500000,109.000000,74.500000,56.000000,16.000000,28.000000,...,183.000000,126.000000,50.000000,0.000000,0.000000,0.000000,-56.160000,10.000000,0.000000,105047.000000
50%,19.000000,19.000000,83.000000,98.000000,36.900000,124.000000,84.000000,65.000000,18.000000,33.000000,...,251.000000,180.000000,63.000000,1.000000,0.000000,1.000000,-8.950000,20.000000,0.000000,110058.000000
75%,33.000000,33.000000,95.000000,99.500000,37.400000,142.000000,96.000000,74.000000,21.000000,38.000000,...,341.000000,240.000000,72.000000,1.000000,1.000000,1.000000,-3.100000,34.000000,0.000000,115003.000000
max,335.000000,335.000000,211.000000,100.000000,50.000000,300.000000,300.000000,300.000000,100.000000,100.000000,...,1179.000000,2322.000000,100.000000,1.000000,1.000000,1.000000,0.000000,336.000000,1.000000,120000.000000

In [11]:
# identify total number of unique patients in the datasets
patients_train = len(df_train['Patient_ID'].unique())
patients_test = len(df_test['Patient_ID'].unique())

print(f"Hospital 1 Patients (Train Set): {patients_train}\nHospital 2 Patients (Test Set): {patients_test}")

Hospital 1 Patients (Train Set): 20336
Hospital 2 Patients (Test Set): 20000

In [12]:
# all unique patient IDs from training sets
df_train['Patient_ID'].unique()

array([17072, 16153,   465, ..., 15518, 11204, 16023], dtype=int64)

In [24]:
# observations with Sepsis
train_sepsis = df_train.loc[df_train['SepsisLabel'] == 1] 
test_sepsis = df_test.loc[df_test['SepsisLabel'] == 1] 
train_sepsis

,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
285,50,50,87.0,100.0,NaN,105.0,65.0,67.0,19.0,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,53,1,11093
286,51,51,93.0,100.0,NaN,94.0,72.0,56.0,18.0,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,54,1,11093
287,52,52,95.0,100.0,NaN,110.0,80.0,90.0,13.0,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,55,1,11093
288,53,53,94.0,100.0,NaN,95.0,74.0,58.0,20.0,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,56,1,11093
289,54,54,94.0,100.0,NaN,95.0,73.0,58.0,22.0,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,57,1,11093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789262,6,6,111.0,100.0,36.39,120.0,91.0,77.0,15.0,NaN,...,395.0,NaN,36.66,0,1.0,0.0,-22.60,7,1,6257
789263,7,7,108.0,100.0,36.67,125.0,94.0,79.0,15.0,NaN,...,NaN,NaN,36.66,0,1.0,0.0,-22.60,8,1,6257
789264,8,8,100.0,99.0,36.67,131.0,98.0,82.0,15.0,NaN,...,349.0,242.0,36.66,0,1.0,0.0,-22.60,9,1,6257
789265,9,9,95.0,100.0,36.83,120.0,89.0,73.0,15.0,NaN,...,NaN,NaN,36.66,0,1.0,0.0,-22.60,10,1,6257
789266,10,10,99.0,100.0,36.83,129.0,97.0,80.0,15.0,NaN,...,NaN,NaN,36.66,0,1.0,0.0,-22.60,11,1,6257

In [32]:
# number of patients with sepsis
train_sepsis_px = len(train_sepsis['Patient_ID'].unique())
test_sepsis_px = len(test_sepsis['Patient_ID'].unique())

# percentage of patients with sepsis
train_sepsis_pct = round(train_sepsis_px/patients_train * 100, 2)
test_sepsis_pct = round(test_sepsis_px/patients_test * 100, 2)

print(f"Train Set Patients with Sepsis: {train_sepsis_px} ({train_sepsis_pct} %) ")
print(f"Test Set Patients with Sepsis: {test_sepsis_px} ({test_sepsis_pct} %) ")

Train Set Patients with Sepsis: 1790 (8.8 %)
Test Set Patients with Sepsis: 1142 (5.71 %)

In [33]:
df_train.loc[df_train['Patient_ID'] == 11093]

,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
235,0,0,77.0,100.0,NaN,NaN,26.5,NaN,21.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,3,0,11093
236,1,1,71.5,97.5,NaN,97.0,83.5,68.0,16.50,NaN,...,NaN,158.0,59.28,1,NaN,NaN,-0.02,4,0,11093
237,2,2,79.0,100.0,NaN,106.0,87.0,72.0,20.75,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,5,0,11093
238,3,3,61.0,100.0,NaN,151.0,95.0,90.0,16.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,6,0,11093
239,4,4,49.0,100.0,NaN,145.0,92.0,84.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,7,0,11093
240,5,5,45.0,100.0,NaN,130.0,91.5,73.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,8,0,11093
241,6,6,51.0,100.0,NaN,135.0,100.0,77.0,16.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,9,0,11093
242,7,7,52.0,100.0,NaN,128.0,89.0,71.0,16.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,10,0,11093
243,8,8,53.0,100.0,NaN,130.0,89.0,72.0,16.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,11,0,11093
244,9,9,53.0,100.0,NaN,142.0,95.0,75.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,12,0,11093
245,10,10,55.0,100.0,NaN,140.0,90.0,74.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,13,0,11093
246,11,11,58.0,100.0,NaN,139.0,87.0,80.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,14,0,11093
247,12,12,64.0,100.0,NaN,132.0,90.0,77.0,19.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,15,0,11093
248,13,13,63.0,100.0,NaN,98.0,71.0,62.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,16,0,11093
249,14,14,61.0,100.0,NaN,97.0,69.0,61.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,17,0,11093
250,15,15,59.0,100.0,NaN,105.0,73.0,67.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,18,0,11093
251,16,16,54.0,100.0,NaN,94.0,76.0,55.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,19,0,11093
252,17,17,55.0,100.0,NaN,92.0,70.0,58.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,20,0,11093
253,18,18,59.0,100.0,NaN,95.0,72.0,60.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,21,0,11093
254,19,19,65.0,100.0,NaN,96.0,69.0,68.0,20.00,NaN,...,NaN,138.0,59.28,1,NaN,NaN,-0.02,22,0,11093
255,20,20,64.0,100.0,NaN,95.0,67.0,65.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,23,0,11093
256,21,21,60.0,100.0,NaN,108.0,75.0,88.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,24,0,11093
257,22,22,57.0,100.0,NaN,99.0,74.0,61.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,25,0,11093
258,23,23,61.0,100.0,NaN,100.0,68.0,62.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,26,0,11093
259,24,24,73.0,100.0,NaN,118.0,80.0,70.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,27,0,11093
260,25,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,28,0,11093
261,26,26,62.0,100.0,NaN,89.0,68.0,59.0,19.50,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,29,0,11093
262,27,27,56.0,100.0,NaN,92.0,70.0,56.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,30,0,11093
263,28,28,53.0,100.0,NaN,88.0,63.0,55.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,31,0,11093
264,29,29,71.0,100.0,NaN,113.0,81.0,70.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,32,0,11093
265,30,30,85.0,100.0,NaN,147.0,96.0,81.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,33,0,11093
266,31,31,72.0,100.0,NaN,107.0,83.0,63.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,34,0,11093
267,32,32,70.0,100.0,NaN,100.0,81.0,66.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,35,0,11093
268,33,33,82.0,100.0,NaN,113.0,88.0,68.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,36,0,11093
269,34,34,74.0,100.0,NaN,145.0,107.0,81.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,37,0,11093
270,35,35,97.0,99.0,NaN,138.0,104.0,78.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,38,0,11093
271,36,36,109.0,99.0,NaN,157.0,116.0,85.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,39,0,11093
272,37,37,94.0,100.0,NaN,138.0,104.0,80.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,40,0,11093
273,38,38,84.0,100.0,NaN,121.0,92.0,70.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,41,0,11093
274,39,39,76.0,100.0,NaN,116.0,105.0,99.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,42,0,11093
275,40,40,75.0,100.0,NaN,101.0,81.0,65.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,43,0,11093
276,41,41,83.0,100.0,NaN,97.5,75.0,60.5,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,44,0,11093
277,42,42,77.0,100.0,NaN,90.0,66.5,52.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,45,0,11093
278,43,43,76.0,100.0,NaN,90.0,66.0,56.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,46,0,11093
279,44,44,82.0,100.0,NaN,101.0,77.0,63.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,47,0,11093
280,45,45,90.0,100.0,NaN,117.0,87.0,66.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,48,0,11093
281,46,46,88.5,100.0,NaN,93.5,71.0,57.0,24.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,49,0,11093
282,47,47,83.0,100.0,NaN,83.0,66.0,53.0,20.00,NaN,...,NaN,151.0,59.28,1,NaN,NaN,-0.02,50,0,11093
283,48,48,84.0,100.0,NaN,96.0,72.0,58.0,22.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,51,0,11093
284,49,49,82.0,100.0,NaN,89.0,61.0,57.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,52,0,11093
285,50,50,87.0,100.0,NaN,105.0,65.0,67.0,19.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,53,1,11093
286,51,51,93.0,100.0,NaN,94.0,72.0,56.0,18.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,54,1,11093
287,52,52,95.0,100.0,NaN,110.0,80.0,90.0,13.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,55,1,11093
288,53,53,94.0,100.0,NaN,95.0,74.0,58.0,20.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,56,1,11093
289,54,54,94.0,100.0,NaN,95.0,73.0,58.0,22.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,57,1,11093
290,55,55,97.0,100.0,NaN,96.0,75.0,60.0,13.00,NaN,...,NaN,134.0,59.28,1,NaN,NaN,-0.02,58,1,11093
291,56,56,99.0,100.0,NaN,102.0,79.0,63.0,15.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,59,1,11093
292,57,57,94.0,100.0,NaN,84.0,62.0,53.0,17.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,60,1,11093
293,58,58,97.0,100.0,NaN,87.0,79.0,69.0,23.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,61,1,11093
294,59,59,96.0,100.0,NaN,76.0,65.0,55.0,16.00,NaN,...,NaN,NaN,59.28,1,NaN,NaN,-0.02,62,1,11093